* {
    font-family: 'Barlow';
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'Barlow'; 
	src: url(fonts/Barlow-Regular.ttf); 
}

@font-face {
	font-family: 'Barlow-Bold'; 
	src: url(fonts/Barlow-Bold.ttf); 
}

.app {
    display: grid;
    height: 100vh;
    grid-template-rows: 60px max-content 230px;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 15px;
    color: #222;
}

::-webkit-scrollbar {
    display: none;
}   

.link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.link:hover {
    filter: brightness(90%);
    text-decoration-line: underline;
    z-index: 0;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.header * {
    display: flex;
    align-items: center;
}

.header-right {
    width: 100%;
    justify-content: flex-end;
    padding-right: 15px;
}

.nav-item {
    font-size: 14px;
    color: #fff;
    margin-left: 15px;
}

.header-logo-container{
    position: absolute;
}

.header-logo {
    padding: 10px 0px;
    height: 40px;
}

.search-field-container {
    height: 30px;
    width: 30vw;
    margin-left: 28px;
}

.search-field {
    width: 100%;
    height: 100%;
    background-color: #111111;
    color: #fff;
    border: solid #111111;
    border-radius: 8px 0 0 8px;
    padding: 0 8px;
    font-size: 14px;
}

.search-field:focus {
    outline-width: 0;
}

.search-button {
    height: 26px;
    padding: 5px;
    background-color: #111111;
    border-left: 2px solid rgb(60, 60, 60);
    border-radius: 0 8px 8px 0;
}

.main-topic {
    margin-top: 48px;
    text-align: center;
    font-size: 48px;
}

.bold-font {
    font-family: "Barlow-Bold";
}

.user{
    background-color: #bbbbbb;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.topic {
    display: block;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    width: inherit;
}

.topic-header {
    text-align: center;
    font-size: 18px;
    font-family: 'Barlow-Bold'; 
}

.red-line {
    border: 0.8px solid #b90000;
    background-color: #b90000;
    background-size: 55px;
    margin-top: 15px;
    width: 48px;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.top-singers {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    gap: 18px;
    justify-content: center;
    margin-top: 20px;
}

.singer {
    width: 9vw;
    display: grid;
    grid-template-rows: 10vw;
    align-items: center;
}

.round-singer-ico {
    border: 1px solid #cecece;
    width: 100%;
    border-radius: 50%;
}

.name {
    font-family: 'Barlow-Bold'; 
    font-size: 14px;
}

.top-tracks {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 18px;
    justify-content: center;
    margin-top: 20px;
}

.track {
    display: grid;
    align-items: center;
    row-gap: 8px;
    column-gap: 14px;
    grid-template-columns: 12vh 9vw;
}

.track-ico {
    border: 1px solid #cecece;
    grid-row: 1/4;
    width: 100%;
}

.footer {
    display: flex;
    border-top: 1px solid #3a3a3a;
    justify-content: center;
    background-color: #111111;
    margin-top: 48px;
    padding: 28px 48px;
}

.navigation-footer {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-right: 88px;
}

.nav-footer-topic{
    font-family: 'Barlow-Bold';
    color: #666;
}

.nav-footer-item{
    margin-top: 8px;
    color: #fff;
}

.search-header {
    margin-top: 24px;
    font-size: 30px;
    padding: 0px 0px 14px 50px;
    border-bottom: 1px solid #eee;
}

.search-page {
    display: flex;
    flex-direction: column;
    min-height: 94vh;
    color: #222;
}

.search-result {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin-left: 50px;
}

.search-topic {
    margin-top: 24px;
    font-size: 24px;
    width: fit-content;
    font-weight: lighter;
}

.grid-search-result {
    margin-top: 28px;
    text-shadow: 1px 1px 3px black;
    display: grid;
    grid-template-columns: repeat(4, 170px);
}

.item-result {
    display: flex;
    width: 170px;
    height: 170px;
    flex-direction: column-reverse;
}

.search-card-image {
    position: absolute;
    z-index: 0;
    width: 170px;
    height: 170px;
}

.search-card-text {
    margin-left: 8px;
    margin-bottom: 8px;
    z-index: 1;
}

.tracks {
    margin-top: 18px;
}

.track-case {
    display: grid;
    grid-template-columns: 56px 2fr 3fr auto;
    align-items: center;
    border-bottom: 1px solid #cecece;
    height: 58px;
}

.track-case:hover {
    background-color: #eee;
}

.mini-track-ico {
    width: 38px;
    height: 38px;
    margin-left: 18px;
}

.track-name {
    margin-left: 18px;
}

.duration{
    margin-right: 18px;
}

.white-text {
    color: #fff;
}
